<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% if title %}{{ title }} - {% endif %}Tools</title>
    
    <link rel="stylesheet" type="text/css" href="/assets/css/tools.css">
  </head>
  
  <body>
    <header>
      <div class="container">
        <h1><a href="/">Tools</a></h1>
      </div>
    </header>
    
    <main>
      <div class="container">
        {% if title %}<h2>{{ title }}</h2>{% endif %}
        
        {{ content | safe }}
      </div>
    </main>
    
    <footer>
      <div class="container">
        <p>Made by <a href="https://davidhunter.scot" target="_blank">David Hunter</a>.</p>
      </div>
    </footer>
    
    {% if scripts %}
      {% for script in scripts %}
        <script type="text/javascript" src="{{ script }}"></script>
      {% endfor %}
    {% endif %}
  </body>
</html>