*,
*::before,
*::after
{
  box-sizing: border-box;
}

html,
body
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  background-color: #eee;
  color: #333;
}

a
{
  color: #333;
}

h1, h2, p, div.result
{
  margin: 0 auto;
  padding: 0.5rem 1rem;
  max-width: 600px;
}

textarea
{
  width: 100%;
  height: 200px;
  background-color: white;
  color: #333;
  border-radius: 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

textarea:focus
{
  outline: 3px solid #333;
}

input[type="checkbox"]
{
  background-color: white;
  border-radius: 0;
  border: 1px solid #333;
}

button
{
  padding: 0.5rem 1rem;
  background-color: white;
  color: #333;
  font-weight: bold;
  border-radius: 20px;
}

.result
{
  background-color: white;
  overflow-x: auto;
}