---
title: Find URLs in String
layout: "base.njk"
scripts:
- /assets/javascript/find-urls-in-string.js
---
    
    <p><textarea id="txtFindUrlsInString" disabled></textarea></p>
    <p><input type="checkbox" id="excludeTrailingBracketFindUrlsInString" disabled> <label for="excludeTrailingBracketFindUrlsInString">Exclude Trailing Bracket <b>)</b></label></p>
    <p><button id="btnFindUrlsInString" disabled>Go</button></p>
    <p><b>Result:</b></p>
    <div class="result" id="resultFindUrlsInString">Please enable JavaScript to use this tool.</div>