<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Tools</title>
    
    <link rel="stylesheet" type="text/css" href="/assets/css/tools.css">
  </head>
  
  <body>
    <h1>Tools</h1>
    
    <h2>Find URLs in String</h2>
    <p><textarea id="txtFindUrlsInString"></textarea></p>
    <p><input type="checkbox" id="excludeTrailingBracketFindUrlsInString"> <label for="excludeTrailingBracketFindUrlsInString">Exclude Trailing Bracket <b>)</b></label></p>
    <p><button id="btnFindUrlsInString">Go</button></p>
    <p><b>Result:</b></p>
    <div class="result" id="resultFindUrlsInString"></div>
    
    <script type="text/javascript" src="/assets/javascript/tools.js"></script>
  </body>
</html>