---
layout: "base.njk"
---

<p><i>Some web based tools to help with some tedious tasks that I can't be bothered doing manually. Yeah, I'm lazy. Shoot me. ;)</i></p>

<h2>Available Tools</h2>

<p><b>Find URLs in String</b></p>
<p><a href="/find-urls-in-string">Go to tool</a>.</p>